{% extends "layouts/base.html" %}
{% block content %}
              <!-- ENTER your content here -->


                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                    
                      <h1 class="pt-5 pb-2">Here is the schedule for your scripts:</h1>
                    
                      
                      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Enabled scripts are shown below:</h6>
                        </div>                      
                        <div class="card-body">  
                          <div class="table-responsive">
                            <table class="table table-bordered" id="schedules">
                              {% for plex in plex %}
                              <tr>
                                <th scope="row">Plex URL</th>
                                <td>{{ plex.plexurl }}</td>
                              </tr>
                              {% endfor %}
                              {% for task in tasks %}
                              {% if 'celery' not in task.name %}
                              <tr>          
                                <th socpe="row"><a href="{% url 'api:task' task.id %}" class="btn btn-primary btn-icon-split" id="posters4k">
                                  <span class="icon text-white-50">
                                      <i class="fas fa-film"></i>
                                  </span>
                                  <span class="text">{{ task.name }}</span>
                                  </a>
                                </th>
                                <td>{{ task.crontab }}</td>

                              </tr>
                              {% endif %}
                              {% endfor %}

                            </table>
                          </div>
                        </div>
                      </div>                      
                    </div>
                  </div>

                </div>
{% endblock %}

{% block extra_js %}
{% endblock %}