{% extends 'base.html' %}
{% block content %}


<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
    <p>Search through the backup database for content. Here you can see what the backup posters and the bannered posters are. </p>

    <div class="form-group">
        <form method="post" action="{{ url_for('search') }}" id="search">
        <input class="form-control" type=text name=search placeholder="Search you media..." aria-label="Search" value="{{ request.form.search }}" />
        </form>
    </div>
    
    {% for message in get_flashed_messages() %}
    <div class=flash>
        {{ message }}
    </div>
    {% endfor %}
    
    {% if films %}
    <p> click on a poster to change out your plex poster, if banners are enabled, they will automatically be added before uplaoding</p>

    {{ pagination.links }}

            {% for film in films %}
            
              <a href="/info/{{ film.guid }}"><img src='{{ film.poster }}' width="200" style="margin:5px 5px" id="myImg"></img></a>

            {% endfor %}
          {% if show %}
          {% for show in show %}
            
          <a href="/show/{{ show.guid }}"><img src='{{ show.poster }}' width="200" style="margin:5px 5px" id="myImg"></img></a>

        {% endfor %}
      {% endif %}          

      {{ pagination.links }}
    {% elif show %}
    <p> click on a poster to change out your plex poster, if banners are enabled, they will automatically be added before uplaoding</p>

    {{ pagination.links }}
          {% for show in show %}
            
          <a href="/seasons/{{ show.guid }}"><img src='{{ show.poster }}' width="200" style="margin:5px 5px" id="myImg"></img></a>

        {% endfor %}       

      {{ pagination.links }}    
    </a>
    {% else %}
    <p>There is nothing here!</p>
    {% endif %}
</div>


{% endblock %}