plexapi
configparser
numpy
pillow
imagehash
pymediainfo
tautulli
opencv-python-headless
uWSGI
django
celery
tmdbv3api
django-environ
git+https://github.com/AnthonyBloomer/tmdbv3api.git
django-gravatar2
django-celery-beat
django-celery-results
django-gravatar2
celery-progress
redis
sqlalchemy
tzlocal