plexapi
configparser
numpy
pillow
imagehash
schedule
flask
flask_script
flask_sqlalchemy
Bootstrap-Flask
flask_apscheduler
flask_wtf
wtforms
tmdbv3api
gunicorn
pymediainfo
tautulli
croniter
opencv-python
flask_sqlalchemy