{% extends 'base.html' %}
{% block content %}
                <!-- ENTER your content here -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Recreate HDR Posters</h6>
                    </div>
                <div class="card-body">
                    <p><a href="{{ url_for('run_recreate_hdr_script')  }}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-film"></i>
                        </span>
                        <span class="text">Run Script</span>
                      </a></p>
                    <p>As there are newly designed HDR banners, this script is here to migrate you from the old banner style to the new.</p>

                    <p>The new desings will highlight whether your files are Dolby Vision or HDR10, if neither can be found, it will just label them as HDR.</p>

                    <p>Enabling the new banner design will enable all of the new designs. </p>

                    <p>You will need to have "Dolby Vision" or "HDR10" included in your filename for this detection to work. (The script is not case sensitive.)</p>
                    </div>
                    <div class='container'>
                        <h2 class="fw-light text-center text-lg-start mt-4 mb-0">HDR Banners</h2>
                        <hr class="mt-2 mb-5">
                        <div class="row text-center text-lg-start">
                    <div class="col-lg-3 col-md-4 col-6">
                        <a  class="d-block mb-4 h-auto">
                          <h4>Old HDR Banner</h4>
                          <img class="img-fluid img-thumbnail" src="https://raw.githubusercontent.com/jkirkcaldy/plex-utills/f0d354387c1010d55066ae971c8f44874ca11906/app/img/Examples/old_hdr.png" alt="">
                        </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-6">
                        <a class="d-block mb-4 h-auto">
                          <h4>New Banner</h4>
                          <img class="img-fluid img-thumbnail" src="https://raw.githubusercontent.com/jkirkcaldy/plex-utills/f0d354387c1010d55066ae971c8f44874ca11906/app/img/Examples/new_hdr.png" alt="">
                        </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-6">
                        <a  class="d-block mb-4 h-auto">
                          <h4>Dolby Vision Banner</h4>
                          <img class="img-fluid img-thumbnail" src="https://raw.githubusercontent.com/jkirkcaldy/plex-utills/f0d354387c1010d55066ae971c8f44874ca11906/app/img/Examples/new_dolby_vision.png" alt="">
                        </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-6">
                        <a class="d-block mb-4 h-auto">
                          <h4>HDR10 Banner</h4>
                          <img class="img-fluid img-thumbnail" src="https://raw.githubusercontent.com/jkirkcaldy/plex-utills/f0d354387c1010d55066ae971c8f44874ca11906/app/img/Examples/new_hdr10.png" alt="">
                        </a>
                      </div>
                      </div>
                      </div>
                    </div>

                <!--END of your content-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                    <script type="text/javascript">
                            $(function() {
                              $('a#recreate_hdr').on('click', function(e) {
                                e.preventDefault()
                                $.getJSON('/recreate_hdr_script',
                                    function(data) {
                                  //do nothing
                                });
                                return false;
                              });
                            });
                    </script>
{% endblock %}