    <!-- Optional JavaScript -->
    {% load static %}

    

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.js' %}"></script>
        
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    
    <script src="{% static 'vendor/chart.js/Chart.js' %}"></script>
    

    <script src="{% static 'js/darkmode.js' %}"></script>
    <script>
        let darktoggle = document.getElementById("dark-mode-toggle")
        if (theme == 'dark') {
            darktoggle.setAttribute("checked", true);
        } else {
            darktoggle.removeAttribute("checked");
        };
        darkThemeMq.addListener(e => {
            if (e.matches) {
                darktoggle.setAttribute("checked", true);
            } else {
                darktoggle.removeAttribute("checked");
            }
        });
    </script>