{% load static %}
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index'  %}">
        <div class="sidebar-brand-icon">
            <img src="{% static '/img/plex-utills_wide_transparent.png' %}", height="75px"></i>
        </div>
        
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'index'  %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search'  %}">
          <i class="fas fa-fw fa-search"></i>
          <span>Search</span></a>
    </li>      
    <!-- Nav Item - Config Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Config</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Config Pages:</h6>
                <a class="collapse-item" href="{% url 'config'  %}">Server Config</a>
                <a class="collapse-item" href="{% url 'config_options'  %}">Config Options</a>
            </div>
        </div>
    </li>   
      <li class="nav-item">
        <a class="nav-link" href="{% url 'run_scripts'  %}">
            <i class="fas fa-fw fa-play"></i>
            <span>Scripts</span></a>
      </li>       
      <hr class="sidebar-divider"> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'script_logs'  %}">
            <i class="fas fa-fw fa-file"></i>
            <span>Script Logs</span></a>
      </li>               

           
      <li class="nav-item">
        <a class="nav-link" href="{% url 'application_logs'  %}">
            <i class="fas fa-fw fa-file"></i>
            <span>Application Logs</span></a>
      </li>               

      <hr class="sidebar-divider">              
      <li class="nav-item">
        <a class="nav-link" href="{% url 'help'  %}">
            <i class="fas fa-fw fa-life-ring"></i>
            <span>Help</span></a>
      </li>   
      <li class="nav-item">
          <a class="nav-link" href="{% url 'get_films'  %}">
              <i class="fas fa-fw fa-film"></i>
              <span>Films</span></a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="{% url 'get_shows' %}">
              <i class="fas fa-fw fa-tv"></i>
              <span>TV Shows</span></a>
        </li>           

 
      <!-- Nav Item - Config Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Plex-Utills Database</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Library Pages:</h6>
                <a class="collapse-item" href="{% url 'get_db_films'  %}">Films</a>
                <a class="collapse-item" href="{% url 'get_db_seasons'  %}">Seasons</a>
                <a class="collapse-item" href="{% url 'get_db_episodes'  %}">Episodes</a>
            </div>
        </div>
  </li>                                  
          <!-- Sidebar Message -->
          <div class="sidebar-card d-none d-lg-flex">
              <p class="text-center mb-2"><strong>Plex-Utills</strong> Version</p>
              <p class="text-center mb-2" id="version">{{ version }}</p>
          </div>     
</ul>
