.u-section-1 .u-sheet-1 {
    min-height: 460px;
  }
  
  .u-section-1 .u-image-1 {
    width: 267px;
    height: 400px;
    margin: 30px auto 0 30px;
  }
  
  .u-section-1 .u-text-1 {
    margin: -95px auto 46px 326px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 461px;
    }
  
    .u-section-1 .u-image-1 {
      height: 401px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: -96px;
      margin-left: 269px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      margin-left: 206px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      margin-left: 155px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      margin-left: 98px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 611px;
  }
  
  .u-section-2 .u-gallery-1 {
    height: 552px;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-gap: 17px 17px;
  }
  
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 17px;
  }
  
  .u-section-2 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 514px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 455px;
      margin-top: 115px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1018px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 784px;
    }
  
    .u-section-2 .u-gallery-inner-1 {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2586px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 2352px;
      margin-top: 140px;
    }
  
    .u-section-2 .u-gallery-inner-1 {
      grid-template-columns: repeat(1, auto);
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1715px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 1481px;
    }
  }

  .u-footer .u-text-1 {
    width: 417px;
    margin-bottom: 0px;

  }
  