{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                <form method="post" class="card-body text-center">
                    {% csrf_token %}

                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Reset Password</h3>
                    {% for field in form %}
                    <div class="input-group mb-3">
                        {{ field }}
                    </div>
                    <span class="text-danger d-block text-left">{{ field.errors }}</span>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary shadow-2 mb-4">Sign up</button>
                    <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}"> Log in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

</div>

</div>
    <label class="d-none">
        <i class="icon feather icon-sun" id="theme-indicator"></i>
        <input type="checkbox" id="theme-switch" class="d-none">
    </label>

{% endblock content %}