<!DOCTYPE html>
<html lang="en">
<head>





    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="jkirkcaldy">

    {% block styles %}

    {{ bootstrap.load_css() }}
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="https:////cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel=""stylesheet type="text/css">

    {% endblock %}
    <title>Plex-Utills</title>
    {% endblock %}
</head>

<body id='page-top'>
    <div id="wrapper">
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')  }}">
          <div class="sidebar-brand-icon">
              <i class="fas fa-cog"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Plex-Utills</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index')  }}">
              <i class="fas fa-fw fa-home"></i>
              <span>Home</span></a>
      </li>
      <!-- Nav Item - Config Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cogs"></i>
              <span>Config</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Config Pages:</h6>
                  <a class="collapse-item" href="{{ url_for('config')  }}">Server Config</a>
                  <a class="collapse-item" href="{{ url_for('config_options')  }}">Config Options</a>
              </div>
          </div>
      </li>   
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('run_scripts')  }}">
              <i class="fas fa-fw fa-play"></i>
              <span>Scripts</span></a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('script_logs')  }}">
              <i class="fas fa-fw fa-file"></i>
              <span>Script Logs</span></a>
        </li>               
        <hr class="sidebar-divider">
             
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('application_logs')  }}">
              <i class="fas fa-fw fa-file"></i>
              <span>Application Logs</span></a>
        </li>               
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('system_logs')  }}">
              <i class="fas fa-fw fa-file"></i>
              <span>System Logs</span></a>
        </li> 
        <hr class="sidebar-divider">              
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('help')  }}">
              <i class="fas fa-fw fa-life-ring"></i>
              <span>Help</span></a>
        </li>   
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_films')  }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Film Database</span></a>
          </li>     
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_episodes')  }}">
                <i class="fas fa-fw fa-table"></i>
                <span>TV Episode Database</span></a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('get_seasons')  }}">
                <i class="fas fa-fw fa-table"></i>
                <span>TV Season Database</span></a>
          </li>                          
            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <p class="text-center mb-2"><strong>Plex-Utills</strong> Version</p>
                <p class="text-center mb-2" id="version">{{ version }}</p>
            </div>     
  </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h1 class="h1 text-grey-800">{{ pagetitle }}</h1>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="donateDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-credit-card fa-fw"></i>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="donateDropdown">
                                <h6 class="dropdown-header bg-gray-900" >
                                    Donate to help the development of Plex-Utills
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fab fa-paypal text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                       <span class="font-weight-bold" onclick='location="https://www.paypal.com/paypalme/jkirkcaldy"'>Donate with Paypal</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="font-weight-bold" onclick='location="https://opencollective.com/themainframe"'>Donate with Open Collective</span>
                                     </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                
                <!-- ENTER your content here -->
                    {% block content %}
                    {% endblock %}

                <!--END of your content-->

                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; jkirkcaldy 2022</span>
                        
                    </div>
                </div>
            </footer>
        </div>
    </div>                    
    
   


    <!-- Optional JavaScript -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <script type="text/javascript" charset="utf8" src="https:////cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.js"></script>
    
{% block scripts %}{% endblock %}
</body>
</html>

