{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


{% endblock %}


{% block title %}
pills-Utills
{% endblock %}


{% block content %}
<body id='page-top'>
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')  }}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-cog"></i>
                </div>
                <div class="sidebar-brand-text mx-3">pills-Utills</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index')  }}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('config')  }}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Config</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('run_scripts')  }}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Scripts</span></a>
              </li>        
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('run')  }}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Logs</span></a>
              </li> 
              <hr class="sidebar-divider">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('run_migrate')  }}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Migrate Config</span></a>
              </li> 
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h1 class="h1 text-grey-800">{{ pagetitle }}</h1>

                </nav>
                <div class="container-fluid">
                
                <!-- ENTER your content here -->
                <div class="container shaddow card d-flex justify-content-center mt-5">
                    <!-- nav options -->
                    <ul class="nav nav-plex mb-3 "" id="pills-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Plex Config</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Schedules</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Options</a> </li>
                    </ul> <!-- content -->
                    <div class="tab-content" id="pills-tabContent p-3">
                        <!-- 1st card -->
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <form method="post" action="{{ url_for('config') }}" id="update">
                                {{ form.csrf_token }}
                                {{ form.id_field(value=plex.id) }}
                                {{ wtf.form_field(form.plexurl, value=plex.plexurl) }}
                                {{ wtf.form_field(form.token, value=plex.token) }}
                                {{ wtf.form_field(form.filmslibrary, value=plex.filmslibrary) }}
                                {{ wtf.form_field(form.tvlibrary, value=plex.tvlibrary) }}
                                {{ wtf.form_field(form.library3d, value=plex.library3d) }}
                                {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
                        </div> <!-- 2nd card -->
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            {{ wtf.form_field(form.t1, value=plex.t1) }}
                            {{ wtf.form_field(form.t5, value=plex.t5) }}
                            {{ wtf.form_field(form.t2, value=plex.t2) }}
                            {{ wtf.form_field(form.t3, value=plex.t3) }}
                            {{ wtf.form_field(form.t4, value=plex.t4) }}
                            {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
                        </div> <!-- 3nd card -->
                        <div class="tab-pane fade third" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            
                                {{ wtf.form_field(form.backup, value=plex.backup) }}
                                <div class="card bg-info text-white shadow">
                                    <div class="card-body">
                                        This is especially useful if things get messed up, it allows you to restore your original posters. It is not reccomended to run the poster scripts without backup enabled.
                                    </div>
                                </div>
                                <hr class="sidebar-divider">
                                {{ wtf.form_field(form.posters4k, value=plex.posters4k) }}
                                {{ wtf.form_field(form.films4kposters, value=plex.films4kposters) }}
                                {{ wtf.form_field(form.tv4kposters, value=plex.tv4kposters) }}
                                {{ wtf.form_field(form.mini4k, value=plex.mini4k) }}
                                {{ wtf.form_field(form.hdr, value=plex.hdr ) }}
                                
                                <p></p>
                                <hr class="sidebar-divider">
                                {{ wtf.form_field(form.posters3d, value=plex.posters3d) }}
                                {{ wtf.form_field(form.mini3d, value=plex.mini3d) }}
                                <p></p>
                                <hr class="sidebar-divider">
                                {{ wtf.form_field(form.hide4k, value=plex.hide4k) }}
                                {{ wtf.form_field(form.transcode, value=plex.transcode) }}
                                <p></p>
                                <hr class="sidebar-divider">
                                {{ wtf.form_field(form.disney, value=plex.disney) }}
                                {{ wtf.form_field(form.pixar, value=plex.pixar) }}
                                {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
                        
                                
                        <p></p>

                        </form>
                    </div>
                    </div>
                </div>


                <!--END of your content-->

                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; jkirkcaldy 2021</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
{% endblock %}