{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% block content %}

                <div class="container-fluid">
                    <div class="container">
                        <div class="row pb-5">
                          <div class="col-lg-10 mx-lg-auto">
                            
                            <h1 class="pt-5 pb-2">
                              Plex-Utills
                            </h1>
                        
                        
                              <p class="lead alert alert-success">Edit your config data.</p>
                        
                        
                                   {% with errors = get_flashed_messages() %}
                                       {% if errors %}
                                           {% for err in errors %}
                                           <div class="alert alert-danger alert-dismissible" role="alert">
                                               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                               {{ err }}
                                           </div>
                                           {% endfor %}
                                       {% endif %}
                                   {% endwith %}
                                   <form method="post" action="{{ url_for('config') }}" id="update">
                                            {{ form.csrf_token }}
                                            {{ form.id_field(value=plex.id) }}
                                            <h2>Plex Connection</h2>
                                            {{ render_field(form.plexurl, value=plex.plexurl) }}
                                            {{ render_field(form.token, value=plex.token) }}
                                            {{ render_field(form.tautulli_server, value=plex.tautulli_server) }}
                                            {{ render_field(form.tautulli_api, value=plex.tautulli_api) }}
                                            <p></p>
                                            <hr class="sidebar-divider">
                                            <p></p>

                                            <h2>Libraries</h2>
                                            <p></p>
                                            <hr class="sidebar-divider">
                                            <p></p>
                                            
                                            {{ render_field(form.filmslibrary, value=plex.filmslibrary) }}
                                            {{ render_field(form.tvlibrary, value=plex.tvlibrary) }}
                                            {{ render_field(form.library3d, value=plex.library3d) }}
                                            <h2>Schedules</h2>
                                            <p></p>
                                            <hr class="sidebar-divider">
                                            <p>These can be set as eithe a time format (HH:MM) or in a standard cron format.
                                            <a href='https://codebeautify.org/crontab-format'>Click here for cron formatting help</a></p>
                                            <p></p>
                                            
                                            {{ render_field(form.t1, value=plex.t1) }}
                                            {{ render_field(form.t5, value=plex.t5) }}
                                            {{ render_field(form.t2, value=plex.t2) }}
                                            {{ render_field(form.t4, value=plex.t4) }}
                                            {{ render_field(form.t3, value=plex.t3) }}
                                            <h2>Backup and Restore Options</h2>
                                            <p></p>
                                            <hr class="sidebar-divider">
                                            <p>For the best experience, enable backups, this will keep all your selected posters in the event of a restore. The TMDb is there as a fallback for those who had issues with the backup or if there isn't a backup poster avaialbe. If you set the TMDb restore to false, the restore will first try to restore your posters from local versions. If it can't find the local files, the script will automatically try to restore from TMDb. </p>          
                                                                              
                                            {{ render_field(form.backup, value=plex.backup) }}
                                            {{ render_field(form.restore_from_tmdb, value=plex.tmdb_restore) }}
                                            {{ render_field(form.tmdb_api, value=plex.tmdb_api) }}
                                            <p></p>
                                            <hr class="sidebar-divider">
                                            <p></p>
                                            {{ render_field(form.submit, button_map={'submit':'success'}) }}
                                            
                                  </form>
                              </div>
                            
                          </div>
                      </div>


                        <div class="card-body">
                            <p>
                                <a href="/admin_config" class="btn btn-primary btn-icon-split" id="admin_config">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-cog"></i>
                                  </span>
                                    <span class="text">Admin Config Page</span>
                                </a>
                            </p>
                        </div>
                     

{% endblock %}