{% extends "base.html" %}

{% block main %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DEV</h6>
    </div>
    <div class="card-body">
        <p>
            <a href="{{ url_for('dev_script') }}" class="btn btn-primary   btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-film"></i>
                </span>
                <span class="text">Run Dev Script</span>
            </a>
        </p>
        <p>This is for Dev use only. Click run script to start filling the dev database with data. The script will perform the HDR scanning function of the 4K posters script without making any changes to your media. This is to help make sure that the HDR banners are correctly detecting the HDR version.</p>
    </div>
</div>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>HDR Version</th>
        <th>Resolution</th>
        <th>Audio Track</th>
      </tr>
    </thead>
    <tbody>
      {% for dev in dev %}
        <tr>
          <td>{{ dev.file }}</td>
          <td>{{ dev.hdr }}</td>
          <td>{{ dev.res }}</td>
          <td>{{ dev.audio }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}