{% extends 'base.html' %}

{% block content %}

<div class=" mb-4">

      <p>Here are the episodes in the plex-utills database. Clicking on a poster will restore that poster. </p>
      <p>If you have changed a poster but it has not updated here, perform a full refresh (usually ctrl+Shift+R or ctrl+Shift+f5) of the page or clear your browser image cache.</p>

</div>

  <table id="ep_data" class="table table-striped">
    <thead>
      <tr>
        <th>Episode</th>
        <th>Resolution</th>
        <th>HDR Version</th>
        <th>Audio Track</th>
        <th>Poster</th>
        <th>Checked</th>
        <th>Blurred</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  <div class="card-body">
    <p>
        <a href="/delete_tv_database" class="btn btn-primary btn-icon-split" id="delete_database">
            <span class="icon text-white-50">
              <i class="fas fa-cog"></i>
          </span>
            <span class="text">Delete database</span>
        </a>
    </p>
</div>    
{% endblock %}

{% block scripts %}

<script>

  $(document).ready(function () {
    $('#ep_data').DataTable({
      ajax: '/api/episodes',
      serverSide: true,
      columns: [
        {data: 'title'},
        {data: 'res'},
        {data: 'hdr'},
        {data: 'audio'},
        {data: 'poster', orderable: false},
        {data: 'checked'},
        {data: 'blurred'}
      ],
    });
  });
</script>
<script type="text/javascript">
  
  // JavaScript Code to Highlight any
  // row in the given table.
  document.getElementById('data')
      .addEventListener('click', function (item) {

          // To get tr tag 
          // In the row where we click
          var row = item.path[1];

          var row_value = "";

          for (var j = 0; j < row.cells.length; j++) {

              row_value += row.cells[j].innerHTML;
              row_value += " | ";
          }

          alert(row_value);

          // Toggle the highlight
          if (row.classList.contains('highlight'))
              row.classList.remove('highlight');
          else
              row.classList.add('highlight');
      });
</script>

{% endblock %}
