{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


{% endblock %}


{% block title %}
Plex-Utills
{% endblock %}


{% block content %}
<body id="page-top">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')  }}">
          <div class="sidebar-brand-icon">
              <i class="fas fa-cog"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Plex-Utills</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index')  }}">
              <i class="fas fa-fw fa-home"></i>
              <span>Home</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('config')  }}">
              <i class="fas fa-fw fa-cogs"></i>
              <span>Config</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('run_scripts')  }}">
              <i class="fas fa-fw fa-play"></i>
              <span>Scripts</span></a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('script_logs')  }}">
              <i class="fas fa-fw fa-file"></i>
              <span>Logs</span></a>
        </li>               
        <hr class="sidebar-divider">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('run_migrate')  }}">
              <i class="fas fa-fw fa-wrench"></i>
              <span>Migrate Config</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('run_recreate_hdr')  }}">
              <i class="fas fa-fw fa-film"></i>
              <span>Recreate HDR Banners</span></a>
        </li>  
        <hr class="sidebar-divider">              
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('application_logs')  }}">
              <i class="fas fa-fw fa-file"></i>
              <span>System Logs</span></a>
        </li> 
  </ul>
      <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <h1 class="h1 text-grey-800">{{ pagetitle }}</h1>

              </nav>
              <div class="container-fluid">
              
              <!-- ENTER your content here -->


                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                    
                      <h1 class="pt-5 pb-2">Help and useful information</h1>
                        <p>If you are having trouble with scripts not running and you don't know why, some information here may help you figure it out.</p>
                      
                      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Useful information is shown below:</h6>
                        </div>                      
                        <div class="card-body">  
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              {% for plex in plex %}
                              <tr>
                                <th scope="row">Plex URL</th>
                                <td>{{ plex.plexurl }}</td>
                              </tr>
                              <tr>
                                  <th scope="row">Plex Path</th>
                                  <td>{{ plex.plexpath }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Plex-utills Path</th>
                                <td>{{ plex.filmslibrary }}</td>
                              </tr>
                              {% endfor %}                         
                              
                            </table>
                          </div>
                        </div>
                      </div>                      
                    </div>
                  </div>

                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Posters</h6>
                    </div>
                    <div class="card-body">
                      <p>This will show you if there are any issues with your permissions or file paths</p>

                      <p>This searches for the first 4K film in your library and shows you it's relative filepath. That is the file path that this container sees the file.</p>
                      <p>The file path where Plex sees the film. </p>
                      <p>The current poster, and the backup poster, if it exists.</p>

                      <table class="table table-bordered">
                        <tr>
                          <th scope="row">Title</th>
                          <td>{{ filmtitle }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Plex Path</th>
                            <td>{{ plex_filepath }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Plex Library</th>
                          <td>{{ newdir }}</td>
                        </tr>                        
                        
                      </table>

                        <div class='container'>
                            <div class="row text-center text-lg-start">

                                <div class="col-lg-3 col-md-4 col-6">
                                    <a class="d-block mb-4 h-auto">
                                        <h4>Current Poster</h4>
                                        <img class="img-fluid img-thumbnail" src="/static/img/poster.png" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-4 col-6">
                                    <a class="d-block mb-4 h-auto">
                                        <h4>Backup Poster</h4>
                                        <img class="img-fluid img-thumbnail" src="/static/img/poster_bak.png" alt="">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>

                  
              </div>

              <!--END of your content-->
          </div>



          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; jkirkcaldy 2021</span>
                  </div>
              </div>
          </footer>
      </div>
  </div>
</body>

{% endblock %}