{% extends 'base.html' %}
{% block main %}
                <!-- ENTER your content here -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Migration</h6>
                    </div>
                    <div class="card-body">
                    <p><a href="{{ url_for('start_migrate') }}" class="btn btn-primary btn-icon-split" id="migrate">
                        <span class="icon text-white-50">
                            <i class="fas fa-film"></i>
                        </span>
                        <span class="text">Run migration</span>
                        </a></p>
                        <p>This script is designed to help you migrate from the old config file to the new database config.</p>
                        <p></p>
                        <p>Running the script will take your config options and import them into the database. Once it has completed you should head to the config page and check through the results to make sure that your config is correct.</p>
                        <p></p>
                    </div>
                </div>

                <!--END of your content-->


{% endblock %}