{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


{% endblock %}


{% block title %}
Plex-Utills
{% endblock %}


{% block content %}
<body id="page-top">
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')  }}">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-cog"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Plex-Utills</div>
                </a>
                <hr class="sidebar-divider my-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index')  }}">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('config')  }}">
                        <i class="fas fa-fw fa-cogs"></i>
                        <span>Config</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('run_scripts')  }}">
                        <i class="fas fa-fw fa-play"></i>
                        <span>Scripts</span></a>
                  </li>        
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('script_logs')  }}">
                        <i class="fas fa-fw fa-file"></i>
                        <span>Logs</span></a>
                  </li>               
                  <hr class="sidebar-divider">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('run_migrate')  }}">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Migrate Config</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('run_recreate_hdr')  }}">
                        <i class="fas fa-fw fa-film"></i>
                        <span>Recreate HDR Banners</span></a>
                  </li>  
                  <hr class="sidebar-divider">              
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('application_logs')  }}">
                        <i class="fas fa-fw fa-file"></i>
                        <span>System Logs</span></a>
                  </li> 
            </ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <h1 class="h1 text-grey-800">{{ pagetitle }}</h1>
                    
                    </nav>
                    <div class="container-fluid">
                    
                    <!-- ENTER your content here -->
                    
 
                    <div class="container">
                            
                    </div>                 
                        <div>
                            <h2 align="center">Log file Output:</h2>
                            <div class="logging_window" id='logging_window'>
                            
                                <script>
                                    function resizeIframe(obj) {
                                        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
                                        }
                                  </script>
                                <!-- iframe pulls whole file -->
                                <iframe src="{{ url_for('script_stream') }}" id="log_output" frameborder="0" style="overflow:hidden;width:100%" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
                                      <pre id="output"></pre>
                                    <script>
                                        setInterval(function(){
                                                document.getElementById('log_output').contentDocument.location.reload(true)
                                        }, 1000);
                                    setInterval(function updateScroll(){
                                        var element = document.getElementById("logging_window");
                                        element.scrollTop = element.scrollHeight;
                                    }, 1000);
                                    </script>
                                    </div>
                                </div>                            

                            
                            </div>
                        </div>

                            

                    <!--END of your content-->
                    
                    </div>                      
                    
                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; jkirkcaldy 2021</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
{% endblock %}